.header {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  height: 80px;
}

.header-logo {
  animation: header-logo-spin infinite 20s linear;
  height: 70px;
  pointer-events: none;
}
  
@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  